*{
	margin: 40px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}
h2{
	position: relative;
	font-size: 6em;
	letter-spacing: 15px;
	color: #2f0e42;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	-webkit-box-reflect : below 1px linear-gradient(transparent , #0004);
	line-height: 0.70em;
	outline: none;
	animation: animate 3s linear infinite;
}
@keyframes animate{
	0%,6%,15%,32%,45%,58%,70%,85%,96%{
		color: #2f0e42;
		text-shadow: none;
	}
	6%,15%,32%,45%,58%,70%,85%,80%,92.1%,100%{
		color: #fff;
		text-shadow: 0 0 10px #af7aff,
		            0 0 20px #af7aff,
		            0 0 40px #af7aff,
		            0 0 80px #af7aff,
		            0 0 160px #af7aff;

	}
}
btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 30px;
	display: inline-block;
  }
  
  /* letter link */
  .letter {
	color: #af7aff;
  }
  
  .letter:hover {
	background-color: #af7aff;
	color: white;
  }