body {
    background-color: #F6D7DE;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #56ceaa;
    font-family: arial;
    font-size: 16px;
    text-align: left;
  }

  html,
body,
#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main>* {
  display: flex;

}

#main>*>* {
  margin: 200px;
}