body {
    background-color: #F6D7DE;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #56ceaa;
    font-family: arial;
    font-size: 16px;
    text-align: left;
  }