body {
    background-image: url('https://cdn.discordapp.com/attachments/1023196851995951115/1075066281063096320/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #56ceaa;
    font-family: arial;
    font-size: 16px;
    text-align: left;
  }
  