body {
    background-image: url('https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  #main {
    display: flex;
<<<<<<< HEAD
    flex-wrap: nowrap;
=======
    flex-direction: column;
    justify-content: center;
>>>>>>> aa43993ee6ccc8743fffcfe13b0ae961ab582a75
    align-items: center;
    color: #56ceaa;
    font-family: arial;
    font-size: 16px;
    text-align: left;
  }
  
  html,
  body,
  #main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  #main>* {
    display: flex;
  
  }
  
  #main>*>* {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
    margin: 5px;
  }
